/bin
/obj
/.vs
/.idea
*.user
/src/Ozon.Route256.Five.OrderService.Host/bin
/src/Ozon.Route256.Five.OrderService.Host/obj
/src/Ozon.Route256.Five.OrderService.Core/bin
/src/Ozon.Route256.Five.OrderService.Core/obj
/tests/Ozon.Route256.Five.OrderService.Tests/bin
/tests/Ozon.Route256.Five.OrderService.Tests/obj
/src/Ozon.Route256.Five.OrderService.Db/bin
/src/Ozon.Route256.Five.OrderService.Db/obj
/src/Ozon.Route256.Five.OrderService.Shared/bin
/src/Ozon.Route256.Five.OrderService.Shared/obj
/src/Ozon.Route256.Five.OrderService.Redis/bin
/src/Ozon.Route256.Five.OrderService.Redis/obj
/src/Ozon.Route256.Five.OrderService.Kafka/bin
/src/Ozon.Route256.Five.OrderService.Kafka/obj
/src/Ozon.Route256.Five.OrderService.Grpc/bin
/src/Ozon.Route256.Five.OrderService.Grpc/obj
/src/Ozon.Route256.Five.OrderService.Rest/bin
/src/Ozon.Route256.Five.OrderService.Rest/obj
/src/Ozon.Route256.Five.OrderService.ConsoleDbMigrator/bin
/src/Ozon.Route256.Five.OrderService.ConsoleDbMigrator/obj
/src/Ozon.Route256.Five.OrderService.Domain/bin
/src/Ozon.Route256.Five.OrderService.Domain/obj
/tests/Ozon.Route256.Five.OrderService.IntegrationTests/bin
/tests/Ozon.Route256.Five.OrderService.IntegrationTests/obj
